
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    
}

.flex_container2 {
    min-height: 550px;
    width: 400px;
    background-color: #9dab86;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 18px;
    align-items: center;
    text-align: center;

}

.cadastro_input {
    outline: none;
    height: 20px;
    width: 240px;
    margin-top: 10px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    border-radius: 8px;
}

.cadastre-se {
    margin-top: 11px;
    margin-bottom: 11px;
}


.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    color: black;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 16px;
    opacity: 0.7;
    text-align: justify;
}

#leia {
    background-color: #E08F62;
    width: 1.5cm;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.16);
}

#close {
    border-top: 10px;
    background-color: #E08F62;
    width: 3cm;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.16);
}
