main {
    text-align: center;
    background-color: #d9e4c7;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 200px;
}

h2 {
 font-size: x-large;
 font-family: Arial;
 color: black;
}

img {
width: 50px;
padding-left: 20px;
padding-right: 20px;
}

 .url-copiar{
    text-align: center;
}

.copiar2 {
    width: 90px;
    height: 25px;
    border-radius: 3px;
    background-color: #9dab86;
    border-color: #9dab86;
}

input {
    width: 10cm;
    height: 1cm;
}

::placeholder {
    text-align: center;
    font-size: large;
}

.container1 {
    display: inline-block;
}

.container2 {
    display: inline-block;
}

.container3 {
    display: inline-block;
}

.container4 {
    display: inline-block;
}

.container5 {
    display: inline-block;
}

.container6 {
    display: inline-block;
}

.container7 {
    display: inline-block;
    padding: 3px;
}

#botao-copiar {
    border: 1cm;
    border-radius: 1cm;
}






.btn {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .modal {
      width: 20cm;
      height: 10cm;
      background-color: rgb(221, 211, 169);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    #icone-fechar {
      width: 30px;
      height: 30px;
      background-color: rgb(221, 211, 169);
      border-radius: 50%;
      float: right;
      cursor: pointer;
      
    }
    
    #title-share{
      font-size: medium;
      font-family: Arial;
      color: black;
      text-align: center;
      margin-top: 1cm;
     }
    
    img {
      width: 50px;
      }
    
    #section-2 {
      position: relative;
      left: 220px;
    }
    
      .container1 {
        display: inline-block;
    }
    
    .container2 {
        display: inline-block;
    }
    
    .container3 {
        display: inline-block;
    }
    
    .container4 {
        display: inline-block;
    }
    
    .container5 {
        display: inline-block;
    }
    
    .container6 {
        display: inline-block;
    }
    
    .container7 {
        display: inline-block;
    }
    
    
    .url-copiar{
      text-align: center;
    }
    
    .copiar2 {
      width: 90px;
      height: 25px;
      border-radius: 3px;
      background-color: #9dab86;
      border-color: #9dab86;
    }
    
    input {
      width: 10cm;
      height: 1cm;
    }
    
    ::placeholder {
      text-align: center;
      font-size: large;
    }