

.foto-perfil-logado {
    margin-top: 8px;
    margin-left: 30px ;
}


section{
    margin: 0;
    padding: 0;
}

aside {
    max-height: 18cm;
    background-color:rgb(249, 244, 244);
    width: 10vw;
    margin-right: 180px;
    align-content: center;
    border: 1px solid #9DAB86;
    border-radius: 2%;
    display: inline-block;
}

div.foto-perfil-logado{
    margin-left: 25px;
    padding: 0;
}

h1{
    font-size: 30px;
    

}

.grid{
    margin-top: 0cm;
    margin-bottom: 5cm;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #9DAB86;
    padding: 3%;
    background-color:rgb(249, 244, 244);

}
  
#grid1-foto-da-receita{
    grid-template-rows: 50px 100px 50px 150px;
}  

#enviar-receita{
    list-style: none;
}

#grid2-enviar-receita{
    max-width: 258px;
    padding: 30%;
}


#grid3-medidas-ingredientes{
    grid-template-rows: 1fr 2fr 1fr 3fr;
    list-style: decimal;
    

}

#grid4-modo-preparo{
    grid-template-columns: 100px auto 50px;
    grid-template-rows: 50px 200px auto;
    list-style: decimal;
    margin-left: 20%;
}

#grid5-botao-enviarr{
    grid-template-rows: 1fr;
}

img{
    width: 200px;
  }

.perfil-user:hover{
    color: brown;
    text-decoration: underline;

}

.enviar_receitas:hover{
    color: brown;
    text-decoration: underline;
}

.minhas_receitas:hover{
    color: brown;
    text-decoration: underline;
}
