/*excluir formatação padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebouchet MS", Helvetica, sans-serif;
}

/*layout*/
#cabecalho {
    background-color: #9dab86;
    height: 150px;
}
#logo {
    color: #4e4e4e;
    text-shadow: 2px 2px 5px #1c1d1f;
}
.main-search {
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 15.0rem;
}
.cadastro {
    display: inline-block;
}
.search-form {
    flex-grow: 1;
    height: 50%;
    width: 350px;
    border: none;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 1.2rem;
    padding: 0 0 0 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.main-form {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex-direction: row-reverse;
}
.main-input {
    font-size: 16px;
    height: 3.4rem;
    border: 0;
    flex: 1;
    padding: 0 1.6rem 0 0.4rem;
    background-color: transparent;
    border-radius: 0;
    display: block;
    width: 100%;
    outline: none;
}
.title {
    padding-left: 1%;
}
.search-button {
    width: 45px;
    height: 100%;
    background-color: transparent;
    border: none;
}
#lupa {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    padding-left: 15%;
}
#space {
    width: 30%;
}
#button-sign {
    padding: 0 3.0rem 0 2.0rem;
}
.nav-bar {
    height: 50px;
    background-color: #DED7B1;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    border: #4e4e4e;
}
.list-navs {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.navs {
    height: 100%;
    white-space: nowrap;
    list-style: none;
    width: 125px;
}
#first-nav {
    padding-left: 175px;
}

#page_log {
    padding-left: 175px;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.nav-links:link, a:visited {
    color: rgb(56, 54, 54);
}
.nav-links:hover {
    background-color: #9dab86;
    color: white;
}
.login2 {
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background-color: #E08F62;
    padding: 0;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.login2:hover {
    background-color: #CC7351;
    border: #1c1d1f;
}