.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_container {
    min-height: 450px;
    width: 400px;
    background-color: #9dab86;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.button_login {
    margin-top: 11px;
}

.esqueceu_sua_senha {
    margin-top: 10px;
}


.login_input {
    outline: none;
    height: 20px;
    width: 240px;
    margin-top: 10px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    border-radius: 8px;
}