#cabecalho-menu-perfil{
    text-align: center;
    
    
}



.foto-perfil-logado {
    margin-top: 8px;
    margin-left: 30px ;
}


#section_profile{
    margin: 0;
    padding: 0;
}

#aside_my_prof {
    height: 900px;
    background-color:rgb(249, 244, 244);
    align-content: center;
    border: 1px solid #9DAB86;
    border-radius: 2%;
    display: absolute;
}

div.foto-perfil-logado{
    margin-left: 25px;
    padding: 0;
}

#cabecalho-menu-perfil h2{
    font-size: 30px;
    color: #CC7351;

}

.grid{
    height: 100%;
    display: grid;
    border: 1px solid #9DAB86;
    padding: 3%;
    background-color:rgb(249, 244, 244);

}
  
#grid1-foto-de-perfil{
    grid-auto-rows: 100px;

}  


#grid2-username{
    grid-auto-rows: 50px 100px;
    padding: 1cm;

}


#grid3-profissao{
    grid-auto-rows: 50px 100px;
    padding: 1cm;

}

#grid4-sobre-voce{
    padding: 1cm;
    
}

#grid5-links{
    grid-template-rows: 1fr;
    padding: 1cm;

}

#avatar{
    width: 200px;
  }

.perfil-user:hover{
    color: brown;
    text-decoration: underline;

}

.enviar_receitas:hover{
    color: brown;
    text-decoration: underline;
}

.minhas_receitas:hover{
    color: brown;
    text-decoration: underline;
}

#main_content_my_prof {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.button-out {
   display: flex;
  
}