.site-content {
    display: flex;
    height: 800px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#profile-left {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #8a8a8d;
}

#dynamic {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aside_my_prof {
    width: 120px;
    border-top: 1px solid #8a8a8d;
    border-bottom: 1px solid #8a8a8d;
    border-right: 1px solid #8a8a8d;
}

.grid {
    height: 750px;
}

#cabecalho-menu-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #8a8a8d;
}

#cabecalho-menu-perfil h2 {
    color: #E08F62;
}

.inputs-prof {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#input_top {
    margin-top: 30px;
}

.input-data-user {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #1c1d1f;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

#grid4-sobre-voce {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#user-info {
    width: 80%;
    border: 1px solid #1c1d1f;
    border-radius: 4px;
    max-height: 200px;
    min-height: 50px;
    max-width: 95%;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}

#grid-botao-enviar {
    margin-top: 20px;
}

#container-perf-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(196, 187, 187)
}

#options {
    margin-top: 10px;
    

}

.nav-options {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-options:hover {
    background-color: #E08F62;
}

.profile {
    background-color: #E08F62;
}

.enviarReceitas {
    background-color: #E08F62;
}

.postRecipe {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

#top-enviarReceitas, #middle-enviarReceitas {
    height: 40%; 
}

#grid5-botao-enviar {
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#grid1-foto-da-receita {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid2-enviar-receita {
    width: 55%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#enviar-receita li {
    list-style: none;
    width: 100%;
    padding-top: 3px;
}

.div-middle {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ol-info {
    padding-top: 20px;
}

.div-middle .ol-info li {
    padding-top: 10px;
}

.div-middle .ol-info li input {
    height: 30px;
    width: 200px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #1c1d1f;
}

#grid2-enviar-receita ul li label input {
    width: 90%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #1c1d1f;
    height: 20px;
}

#grid4-modo-preparo {
    padding-left: 70px;
}

#medidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #profile-left {
        width: 100%;
}   
}
    

@media screen and (max-width: 600px) {
    #site-content22 {
        flex-direction: column;
        border: none;  
        
   }
}
 

@media screen and (max-width: 600px) {
    #container-perf-log {
        display: none;    
    }
}

@media screen and (max-width: 600px) { 
    #aside_my_prof, .nav-options {    
        display: flex;
        
        border: none;

    }
}

@media screen and (max-width: 600px) { 
    #cabecalho-menu-perfil {
        margin-top: 3%;
    }
}

@media screen and (max-width: 600px) { 
    #options {
        width: 100%;
        
    }
}