
#main-receitas-encontradas {
    display: flex;
    height: auto;
    margin-left: 30%;
    padding-left: 5%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.result_recipe {
    display: flex;
    flex-direction: row;
    background-color:#eee9cc;
    margin-right: 10%;
    height: 125px;
    width: 60%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    border-radius: 5px;
    margin-bottom: 1.5%;
    
}

#botton-filtro {
    background-color: white;
    margin-right: 10px;
    width: 30px;   
}

.show-recipe {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-content.show-recipe h2 {
    margin: 50px 0 30px 30px;
}

.result_recipe div {
    height: 100%;
}

.img_div {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe_info {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.hating {
    width: 20%;
}

.img_div img {
    height: 90%;
    width: 90%;
    border-radius: 5px 0 0 5px;
}

.info {
    padding-top: 3px;
}

@media screen and (max-width: 600px) {
    .result_recipe {
        display: flex;
        flex-direction: row;
        background-color:#eee9cc;
        margin-left: 0;
        width: 65%;
        
    }
    
}


@media screen and (max-width: 600px) {
    .img_div {
        width: 150px;
        
        
        
    }
}

@media screen and (max-width: 600px) {
    #result_count {
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        align-content: flex-start;
    }
}