
* {
  margin: 0;
  padding: 0;
}


#main-recipe {
  background-color: #d9e4c7;
  margin-top: 0px;
}

#main-recipe-div {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  height: 50%;
}

#main-recipe-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5%;
}

img{
  width: 80%;
}

p, .estrelas{
	padding-left: 0px;
}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #c0c0c0;
}



#container1 {
  display: inline-block;
}

#botao-compartilhar {
  width: 40px;
  padding-right: 90%;
}

#button-fav img {
  width: 40px;
  padding-right: 90%;
}

#button-fav {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#info_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

#info_right div {
  padding-bottom: 10px;
}

.image-receita {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

form {
  margin-left: 5% ;
  margin-right: 5% ;
  padding-top: 2%;
  padding-bottom: 2%;
}

#coment {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


textarea {
  width: 88%;
}

#enviar {
  width: 70px;
  height: 40px;
  border: none;
  color: white;
  background-color: #E08F62;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  margin-left: 5%;
  }
  
#det_receita .det_receita_child ul li {
  list-style: none;
  font-size: 20px;
  padding-top: 5px;
}

.det_receita_child {
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#imgPrato {
  height: 300px;
  width: 350px;
}

.main-containers {
  width: 100%;  
  display: inline;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 2%;
  padding-top: 0px;
  text-align: justify
}

.modal {
  width: 70%;
  height: 200px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(221, 211, 169);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.fechar {
  display: flex;
  flex-direction: row-reverse;
}
     
#icone-fechar {
  width: 30px;
  height: 30px;
  background-color: rgb(221, 211, 169);
  border-radius: 50%;
  cursor: pointer;   
}
      
#title-share {
  font-size: medium;
  font-family: Arial;
  color: black;
  text-align: center;
}
      
img {
  width: 50px;
}
      
#section-2 {
  position: relative;
  left: 220px;
}
      
.container1 {
  display: inline-block;
}
      
.container2 {
  display: inline-block;
}
      
.container3 {
  display: inline-block;
}
      
.container4 {
  display: inline-block;
}
      
.container5 {
  display: inline-block;
}
      
.container6 {
  display: inline-block;
}
      
.container7 {
display: inline-block;
}
          
.url-copiar {
  text-align: center;
}
      
.copiar2 {
  width: 90px;
  height: 25px;
  border-radius: 3px;
  background-color: #9dab86;
  border-color: #9dab86;
}
      
input {
  width: 10cm;
  height: 1cm;
}


@media screen and (max-width: 600px) {
  #main-recipe-div {
    margin-left: 0%;
    margin-right: 0%;   
  }
}

@media screen and (max-width: 600px) {
  #container1 {
    height: 50%;
    width: 80%;
    font-size: 15px; 
  }
}

@media screen and (max-width: 600px) {
  .container6 {
  display: flex; 
  margin-left: 2%;
  margin-right: 2%;
  } 
}

@media screen and (max-width: 600px) {
  .estrelas {
  width: 100%;
  }
}

@media screen and (max-width: 600px) {
#grid1-foto-da-receita {
  width: 50%;
  }
}

@media screen and (max-width: 600px) {
  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #coment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width: 600px) {
  #botao-enviar {
    margin-top: 2%;
    margin-left: 0%;
  
  }
}