section {
    display: flex;
    height: auto;
    margin-left: 180px;
    padding-left: 30px;
    margin-right: 300px;
    margin-bottom: 30px;
}

article {
    padding: 30px;
    background-color:#cc7351;
    margin-right: 15px;
}

#botton-filtro {
    background-color: white;
    margin-right: 10px;
    width: 30px;   
}

 