
#username {
    margin-left: -5px;
    
}

#foto-perfil-logado {
    border-radius: 50%;
    width: 60px;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.foto-perfil-logado{
    text-align: center;
}

#button-out {
    width: 25px;
    height: 100%;
    background-color: #9dab86;
    margin: 0;
    border: none;
    padding: 5px;
}

.button-out {
    padding-right: 20px;
}
