* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebouchet MS", Helvetica, sans-serif;
}

.logout {
    width: 3px;
    height: 20px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: brown;
    padding: 0;
    font-size: 12px;
    text-align: center;
    border-radius: px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nome{
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 1%;
    
}
