main {
    margin-left: 4cm;
    padding-top: 2cm;
    margin-right: 4cm;
    background-color: #d9e4c7;
}

section {
    align-items: left;
    margin: 3cm;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    columns: 2; 
}

.container-box {
    align-content: space-between;
    padding-left: 20px;
    margin-top: 2cm;
    text-align: start;
    font-size: 18px;
    columns: 2;
}

.coluna_1 {
    padding-inline-start: 100px;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    align-content: space-between;
    max-width: 45%;
    min-height: 20%;
    text-align: left;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.coluna_2 {
    padding-inline-start: 100px;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    align-content: space-between;
    max-width: 45%;
    min-height: 20%;
    text-align: left;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.comentário_input {
    height: 50px;
    width: 700px;
    border: 2px solid #b2b2b2;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    padding: 18px 18px;
    margin-bottom: 1cm;
    margin-top: 1cm;
    margin-left: 20%;
}
